.wrapper {
  padding-top: 1em;
}

.wrapper h3 {
  color: black;
}
.seta-baixo:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-bottom: 2em;
  padding-top: 1em;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid grey;
}
